@font-face {
    font-family: adventure;
    src: url("../styles/Assets/font/adventure/Adventure.otf");
}

.bgHeader {
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.container,
.container-fluid,
.row {
    --bs-gutter-x: 0rem!important;
}

.contenuHeader {
    min-height: 40em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.titreHeader {
    font-size: 6.5rem!important;
    font-family: adventure!important;
}

.h-25 {
    min-height: 300px;
}

@media screen and (max-width:767px) {
    .contenuHeader {
        min-height: 20em;
    }
}