.element-img-panier {
    width: 130px;
    min-width: 130px;
    height: 130px;
    min-height: 130px;
    margin: 5px;
    border: 2px solid rgb(212, 212, 212);
}

.cadre-produit-panier {
    border: 2px solid white;
}

.link {
    color: white!important;
    text-decoration: none;
}

.link:hover {
    color: blue!important;
    text-decoration: underline;
}

.link-active {
    color: white!important;
}